h1 {font-family: 'Open Sans', sans-serif;
    margin: 25px;
    font-size:xx-large;
}

p {font-family: 'Open Sans', sans-serif;
    text-align: center;
}

a {font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:black;
    text-align: center;
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.top {
    position: absolute;
    top: 0px;
}

.bottom {
    position: absolute;
    bottom: 0px;
}

.right {
    position:absolute;
    right: 0px;
}

.oval {
    position: absolute;
    height: 450px;
    width: 1000px;
    background-color: rgb(31, 74, 45);
    border-radius: 50%;
}

.main {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border {
    height: 530px;
    width: 1080px;
    background-color: rgb(102, 51, 0);
    top: 50%;
    left: 50%;
    margin-top: -265px;
    margin-left: -540px;
}

.dealerChip {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    top: -32px;
    left: 40%;
}

.dealer {
    position: absolute;
    top: 40px;
}

.user {
    position: absolute;
    bottom: 40px;
}

.buttonBlackjack {
    display: inline-block;
    transition-duration: 0.2s;
    margin: 4px 2px;
    cursor: pointer;
    padding: 8px 20px;
    border: 1px solid #555555;
    border-radius: 4px;
    text-decoration: none;
    color: #555555;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.buttonBlackjack:hover {
    background-color: #333333;
    color: white;
}

.buttonBlackjack:active {
    background-color: black;
}

.buttonBlackjack:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.bet {
    display:inline-block;
    box-sizing: border-box;
    border: 1px solid #333333;
    border-radius: 4px;
    padding: 8px 4px;
    color: #555555;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.connectWallet {
    display: inline-block;
    transition-duration: 0.2s;
    margin: 4px 2px;
    cursor: pointer;
    padding: 8px 20px;
    border: 0px;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    background-color: #1752f0;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.connectWallet:hover {
    background-color: #1440b9;
    color: white;
}