h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 25px;
    font-size:xx-large;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:black;
    text-align: center;
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.top {
    position: absolute;
    top: 0px;
}

.bottom {
    position: absolute;
    bottom: 0px;
}

.right {
    position:absolute;
    right: 0px;
}

.table {
    position: absolute;
    height: 400px;
    width: 950px;
    background-color: #1f4a2d;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 40px solid #663300;
}

.dealerChip {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #000000;
    color: #000000;
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    top: -33px;
    left: 40%;
}

.dealer {
    position: absolute;
    top: 40px;
}

.user {
    position: absolute;
    bottom: 40px;
}

.buttonBlackjack {
    display: inline-block;
    transition-duration: 0.2s;
    margin: 4px 2px;
    cursor: pointer;
    padding: 8px 20px;
    border: 1px solid #555555;
    border-radius: 4px;
    text-decoration: none;
    color: #555555;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.buttonBlackjack:hover {
    background-color: #333333;
    color: white;
}

.buttonBlackjack:active {
    background-color: black;
}

.buttonBlackjack:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.bet {
    display:inline-block;
    box-sizing: border-box;
    border: 1px solid #333333;
    border-radius: 4px;
    padding: 8px 4px;
    color: #555555;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.connectWallet {
    position: absolute;
    display: inline-block;
    transition-duration: 0.2s;
    top: 25px;
    right: 25px;
    height: 38px;
    width: 152px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid #1752f0;
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    background-color: #1752f0;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.connectWallet:hover {
    background-color: #1440b9;
    color: white;
}

.connectedWallet {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    top: 25px;
    right: 25px;
    height: 38px;
    width: 152px;
    margin: 4px 2px;
    border: 1px solid #1752f0;
    border-radius: 30px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.connectedWallet:hover {
    background-color: #eff3ff;
    cursor: text;
    color: rgb(0, 0, 0);
}

.deposit {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 25px;
    right: 110px;
    height: 38px;
    width: 152px;
    margin: 4px 2px;
    cursor: auto;
    border: 1px solid #67f385;
    border-radius: 30px;
    text-decoration: none;
    color: #000000;
    background-color: #67f385;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.deposit:hover {
    border: 1px solid #59d474;
    background-color: #59d474;
}

.withdraw {
    position: absolute;
    display: inline-block;
    top: 25px;
    right: 205px;
    height: 38px;
    width: 152px;
    margin: 4px 2px;
    cursor: auto;
    border: 1px solid #ff605c;
    border-radius: 30px;
    text-decoration: none;
    color: #000000;
    background-color: #ff605c;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.withdraw:hover {
    border: 1px solid #e05451;
    background-color: #e05451;
}

.GUI {
    position: absolute;
    display: inline-block;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    background-color: #ffffff;
    height: 200px;
    width: 360px;
    top: 0%;
    right: 0%;
}

.close {
    position: absolute;
    background-color: #ff605c;
    border-radius: 100%;
    border: 1px solid #ff605c;
    cursor: pointer;
    width: 8px;
    height: 10px;
    top: 5px;
    left: 5px;
}

.confirmButtonDeposit {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 250px;
    height: 35px;
    text-align: center;
    padding-top: 8px;
    font-size: 20px;
    background-color: #67f385;
    font-family: 'Open Sans', sans-serif;
}

.confirmButtonDeposit:hover {
    background-color: #59d474;
}

.balanceLabels {
    position: absolute;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%);
    padding-top: 35px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.currentBalance {
    position: absolute;
    top: 80px;
    left: 90px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.depositAmount {
    position: absolute;
    width: 80px;
    top: 80px;
    left: 235px;
}

.error {
    position: absolute;
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    top: 110px;
}

.tab {
    position: absolute;
    display: inline-block;
    top: 80px;
    right: 25px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 4px 2px;
    border: 1px solid #000000;
    border-radius: 30px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.tab:hover {
    cursor: pointer;
    background-color: #f1f0f0;
}

.tooltip {
    display: inline-block;
}

.tooltip .tooltiptext {
    position: absolute;
    visibility: hidden;
    background-color:#ffffff;
    color:#000000;
    text-align: center;
    margin: 0% 15%;
    border-radius: 6px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    border: 1px solid #000000;
    font-size: 13px;
    transform: translate(0%, 100%);
}
