h1 {font-family: 'Open Sans', sans-serif;
    margin: 25px;
    font-size:xx-large;
}

p {font-family: 'Open Sans', sans-serif;
    text-align: center;
}

a {font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:black;
    text-align: center;
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.top {
    position: absolute;
    top: 0px;
}

.bottom {
    position: absolute;
    bottom: 0px;
}

.right {
    position:absolute;
    right: 0px;
}

.table {
    position: absolute;
    height: 400px;
    width: 950px;
    background-color: #1f4a2d;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border {
    position: absolute;
    height: 480px;
    width: 1030px;
    background-color: #663300;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dealerChip {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #000000;
    color: #000000;
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    top: 8px;
    left: 40%;
}

.dealer {
    position: absolute;
    top: 40px;
}

.user {
    position: absolute;
    bottom: 40px;
}

.buttonBlackjack {
    display: inline-block;
    transition-duration: 0.2s;
    margin: 4px 2px;
    cursor: pointer;
    padding: 8px 20px;
    border: 1px solid #555555;
    border-radius: 4px;
    text-decoration: none;
    color: #555555;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.buttonBlackjack:hover {
    background-color: #333333;
    color: white;
}

.buttonBlackjack:active {
    background-color: black;
}

.buttonBlackjack:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.bet {
    display:inline-block;
    box-sizing: border-box;
    border: 1px solid #333333;
    border-radius: 4px;
    padding: 8px 4px;
    color: #555555;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.connectWallet {
    position: absolute;
    display: inline-block;
    transition-duration: 0.2s;
    top: 25px;
    right: 25px;
    height: 38px;
    width: 152px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid #1752f0;
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    background-color: #1752f0;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.connectWallet:hover {
    background-color: #1440b9;
    color: white;
}

.connectedWallet {
    position: absolute;
    display: inline-block;
    top: 25px;
    right: 25px;
    height: 38px;
    width: 152px;
    margin: 4px 2px;
    cursor: auto;
    border: 1px solid #1752f0;
    border-radius: 30px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.connectedWallet:hover {
    background-color: #eff3ff;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
